#backgroundImage {
    z-index: 1;
}

#backgroundImage:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../resources/images/bg.png") repeat;
    opacity: 0.4;
    filter: alpha(opacity=40);
    height: 100%;
    width: 100%;
}

#meniu {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.buton {
    margin: 15px;
    position: relative;
    width: 375px;
    height: 130px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.buton:hover {
    color: black;
}

.buton:hover .imagine {
    -webkit-filter: brightness(150%);
}

.imagine {
    height: 100px;
}

#logo-container {
    text-align: center;
    margin: 25px;
}

.logo {
    height: 175px;
}

.inapoi {
    text-align: center;
}