.container {
    /*position: absolute;*/
    width: 80%;
    height: 65%;
    margin-top: 40px;
    /*margin-left: 15%;*/
    background-color: #b0c8e9;
    border-radius: 15px;
    /*overflow: scroll;*/
}

.animalImage {
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.animalTitle {
    position: absolute;
    margin-left: 380px;
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
}

.animalContent {
    position: absolute;
    margin-left: 350px;
    margin-top: 100px;
    width: 200px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    /*white-space: pre-wrap;*/
}

.soundContainer {
    width: 100px;
    margin-top: 34%;
    margin-bottom: 30px;
    margin-left: 150px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-width: 2px;
    border-color: darkgray;
    border-radius: 10px;
    background-color: #fde9af;
    outline: none;
}

.soundContainerFinal {
    width: 100px;
    margin-top: 34%;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-width: 2px;
    border-color: darkgray;
    border-radius: 10px;
    background-color: #fde9af;
    outline: none;
}

.menuRef {
    position: absolute;
    width: 10%;
    height: 15%;
    left: 87%;
    margin-top: 8%;
    border-radius: 10px;
    outline: 0;
    background-color: #3cc429;
    border-width: 3px;
    border-color: darkgray;
}

.startAgain {
    position: absolute;
    width: 10%;
    height: 15%;
    left: 87%;
    margin-top: 13%;
    border-radius: 10px;
    outline: 0;
    background-color: #3cc429;
    border-width: 3px;
    border-color: darkgray;
}

.navigateBehind {
    position: absolute;
    width: 10%;
    height: 15%;
    margin-left: 3%;
    margin-top: 13%;
    border-radius: 10px;
    outline: 0;
    background-color: #3cc429;
    border-width: 3px;
    border-color: darkgray;
}

.navigateAhead {
    position: absolute;
    width: 10%;
    height: 15%;
    margin-left: 87%;
    margin-top: 13%;
    border-radius: 10px;
    outline: 0;
    background-color: #3cc429;
    border-width: 3px;
    border-color: darkgray;
}

.arrowImg {
    position: relative;
    width: 70px;
    height: 70px;
}

.menuImg {
    position: relative;
    width: 70px;
    height: 70px;
}

.resetImg {
    position: relative;
    width: 50px;
    height: 50px;
}

.playImage {
    position: relative;
    width: 40px;
    height: 40px;
}

.navigateBehind:hover {
    background-color: #56b149;
}

.navigateAhead:hover {
    background-color: #56b149
}

.menuRef:hover {
    background-color: #56b149;
}

.startAgain:hover {
    background-color: #56b149;
}

.soundContainer:hover {
    background-color: #ead79a;
}

.checkButton {
    width: 150px;
    height: 50px;
    margin: 10px;
}

.wrongBorder {
    border: 5px solid red;
}

.correctBorder {
    border: 5px solid green;
}

.container-final {
    text-align: center;
}