body {
    text-align: center;
}

.imgGradiPlay {
    /*float: left;*/
    height: 400px;
    width: 400px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.playButton {
    width: 150px;
    margin-top: 20%;
    padding-bottom: 10px;
    border-width: 2px;
    border-color: darkgray;
    border-radius: 10px;
}

.playImage {
    /*position: relative;*/
    width: 40px;
    height: 40px;
}

.soundContainer:hover {
    background-color: #ead79a;
}

.soundContainer {
    width: 100px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-width: 2px;
    border-color: darkgray;
    border-radius: 10px;
    background-color: #fde9af;
    outline: none;
}

.slide-container {
    margin: 70px;
    text-align: center;
}