body {
    text-align: center;
}

.buton {
    margin-left: 50px;
    margin-right: 50px;
}

#rime-container {
    text-align: center;
    width: 45%;
}

.whitespace {
    width: 43%;
    height: 100px;
}

.placeholder {
    width: 300px;
    height: 190px;
    /*background-color: black;*/
    margin: 10px;
}

.imagine-rime {
    border-radius: 25px;
    /*border:1px solid black;*/
    height: 190px;
    margin: 6px;
}

.imagine-rime:hover {
    -webkit-filter: brightness(120%);
}

.selected {
    border: 5px solid blue;
}

.wrong {
    border: 5px solid red;
}

.done {
    border: 5px solid green;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.done:hover {
    -webkit-filter: brightness(100%);
}

/*modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    font-size: 75px;
    font-weight: bold;
    float: left;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*.fireworks {*/
    /*width: 50%;*/
/*}*/